{% extends 'layouts/base.html.twig' %}

{% block title %}Panterest{% endblock %}

{% block body %}


<div class="example-wrapper">
   
   <h1>{{ pluralize(pins|length, "Pin", "Pins") }}</h1>

   {% for pin in pins %}
        <article>
            <h2><a href="{{ path('app_pins_show',{id:pin.id}) }}">{{ pin.title}}</a></h2>
            <p>{{ pin.description | u.truncate(59, '...', true)}}</p>
            <p> Submitted {{ pin.createdAt|ago }}</p>
            {# <p> Submitted {{ pin.createdAt|ago }}</p> #}
            {# <p>{{ pin.description / u.truncate(8) }}</p> #}
        </article>
   {% endfor %}
</div>
{% endblock %}
