{% extends 'layouts/base.html.twig' %}

{% block title %}{{ pin.title }}{% endblock %}

{% block body %}


    <article>
        <h2>{{ pin.title }}</h2>
        <p>{{ pin.description }}</p>
    </article>

    <div>
        <a href="{{ path('app_pins_edit',{id:pin.id})}}">Edit</a>
        <a href="#" onclick="event.preventDefault(); confirm('tu es sur') && document.getElementById('js-pin-delete-form').submit();">Delete</a>
         

        
        <form id="js-pin-delete-form" name="csrf_token" action="{{ path('app_pins_delete',{id:pin.id}) }}" method="post" style="display:none;">
            <input type="hidden" value="{{ csrf_token('pin-deletion_' ~ pin. id)}}">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" >
        </form>
    </div>
{% endblock %}